services:
  postgres:
    image: postgres:17-alpine@sha256:3430fe182f5065a6ea505c3d432d2c7fff18fbab954df8f277c1dbf4c70124af
    container_name: bookmark-agent-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_MULTIPLE_DATABASES: bookmark_agent,bookmark_agent_test
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./docker/init.sql:/docker-entrypoint-initdb.d/01-init.sql
      - ./docker/create-multiple-databases.sh:/docker-entrypoint-initdb.d/00-create-multiple-databases.sh

volumes:
  postgres-data:
